.sidenav_wrapper{
    height: 100%;
    background-color: #1E1F24;
    box-shadow: var(--box-shadow-big);
    color: var(--color-white);
    width: 5%;
    transition:all 0.5s ease; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between; 
    border-radius: 30px;
    /* position: absolute;*/
    z-index: 2; 

    

}

:link{
    text-decoration: none;
}


.sidenav_wrapper.active{
    width: 20%;
    border-radius: 0 30px 30px 0;


}

.top{
    width: 100%;
    height: 50%;
}

.arrow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav_wrapper.active .arrow {
    justify-content: end;
}


.open{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 3rem;
    color: #FBBC04;
    cursor: pointer;
}

.sidenav_wrapper.active .open{
    margin-right: 20px;
    margin-top: 20px;
}


.nav{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    margin: 10px 0;
    font-size: 1.6rem;
    color: #A2A2A2;
    transition:all 0.15s ease-in ;
    cursor: pointer;


}
 
.nav span{
    display: none;
}

.sidenav_wrapper.active .nav span{
    display: block;
}


.nav:hover{
    background-color: #18191D;
    border-left:4px solid #FBBC04 ;
    color: white;
  font-weight: 700;
}



.nav span{
    width: 70%;
    margin-left: 20px;
}
















.userImg{
    width: 70%;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.sidenav_wrapper.active .userImg{
    width: 20%;
}

.userImg img{
    width: 100%;
    height: 100%;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
    cursor: pointer;
}

.sidenav_wrapper.active .user{
    justify-content: space-around;
}

.aboutUser{
    display: none;
    width: 70%; 
    font-size: 1.6rem;
}

.sidenav_wrapper.active .aboutUser{
    display: block;
 
}

.name{
    font-weight: 600;
 
}

.occupation{
    font-weight: 300;
    color: #A2A2A2;
}


@media screen and (max-width: 950px) {
    .sidenav_wrapper{
        width: 20%;
        box-shadow: var(--box-shadow-small);
    }



    .sidenav_wrapper.active{
        position: absolute;
        width: 90%;
    }
}