*{
    margin: 0;
}
.wrapper{
    width: 100%;
    height: 90%;
    background-color: #15161A;
    display: flex;
    position: relative;
}



.phone{
    width: 20%;
    background-color: green;
}


@media screen and (max-width: 950px) {
    .phone{
        display: none;
    }
}