.loginBox{
    width: 100%;
    height: 90vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: url(../../T_images/T_Bg_image\ login.png);
    background-position-x: left;
    background-size: cover;
    background-position-y: bottom;
 
 
}


.log{
    width: 75%;
    height: 80%;

  
}

.sign{
    width: 75%;
    height: 80%;
    display: none;
   


}


button:hover{
   padding:15px 40px;
   transition: all ease-in 0.4s;


}

.loginswitch{
    display: none;
}







@media screen and (max-width: 900px){

    .loginBox{
        background-size: contain;
        background-position-x: right;
    }


    .log{
        width: 100%;
        height: 100%;
        
    }
    
    .sign{
        width: 100%;
        height: 100%;
    }

    .loginswitch{
        display: block;
        margin-top: 10%;
        font-size: 1.4rem;
        color: white;

    }
   
}

    