@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --orange-text: #F57E20;
  --color-white: #fff;
  --dark-text: #5C5C5C;
  --box-shadow-small:4px 10px 10px 6px rgb(0, 0, 0, 0.25);
  --box-shadow-big:10px 10px 35px 10px rgba(0, 0, 0, 0.8);
  --border-grey: #5C5C5C;
  --border-orange:#F36621;
  --btn-orange:#DC5A1B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
}


.container{
  height: 100vh;
  width: 100%;
}

